/arrays.java
/calculator.java
/Challenge02.java
/DetermineThatCase.java
/DetermineThatCase2.java
/DMC.java
/DormAndMealPlanCalc.java
/DormMealCalculator.java
/dtcTest.java
/FLTC3.java
/ImagePanel.java
/ImgService.java
/jpg_test.java
/Latin.txt
/numbers.java
/testFile.java
/test_File.java
/Text files
/TSClass.java
/WelcomeMessage.java